
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans');



body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100% !important;
}

h1{
  font-family: Montserrat, sans-serif;
  color: $dark-gray_color;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
}

h2{
  font-family: Montserrat, sans-serif;
  color: $dark-gray_color;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 48px;


}

h3{
  font-family: Montserrat, sans-serif;
  color: $dark-gray_color;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 48px;
}

h4{

  font-family: Montserrat ,  sans-serif;
  color:  white;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 48px;
}

h5{
  font-family: Montserrat,  sans-serif;
  color:$dark-gray_color;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

h6{

  font-family: Montserrat ,  sans-serif;
  color: $dark-gray_color;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}


p{
  font-family: OpenSans, sans-serif;
  padding-top: 10px;
  color: $dark-gray_color;
  line-height: 30px!important;
}

a{
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
}
li{
  text-transform: uppercase;
}

.button-green{
  float: right;
  margin: 60px 0;
  background: $green_color;
  padding: 20px 40px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}


.button-white{
  float: left;
  margin: 60px 0;
  background: white;
  padding: 20px 40px;
  color: $green_color;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

///////////////////////////////////////////
//FORM//
///////////////////////////////////////////



.search {
  display: flex;
  padding: 20px 0 ;

}

form {
  position: relative;
  width: 100%!important;
  margin: 0 auto;

}
input, button {
  border: none;
  outline: none;
  border-radius: 3px;


}
input {
  width: 100%;
  height: 50px;
  background: #F9F0DA;
  padding-left: 15px;


}

input[type="text"]{
  font-family: Montserrat ,sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;

}
button {
  padding: 10px 30px;
  position: absolute;
  cursor: pointer;
  background: $green_color;
  right: 0;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
  font-size: 14px;
  font-family: Montserrat ,sans-serif;
}











.head-text{
  text-align: center;
  margin: 50px 50px;
}



//GREEN LINE

.green-line{
  position: relative;
  z-index: 3;

  &:before{
    content: ' ';
    position: absolute;
    width: 70px;
    height: 20px;
    background: $green_color;
    bottom: 0;
    z-index: -1 ;
  }
}