@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
body {
  margin: 0;
  padding: 0; }

img {
  max-width: 100% !important; }

h1 {
  font-family: "OpenSans"  ,sans-serif;
  color: #ffffff;
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black; }

.title {
  font-family: "OpenSans"  ,sans-serif;
  color: #ffffff;
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0; }

h2 {
  font-family: "OpenSans" ,sans-serif;
  color: black;
  font-size: 36px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase; }

h3 {
  font-family: "OpenSans", sans-serif;
  color: black;
  font-size: 26px;
  font-weight: 700;
  line-height: 30px; }

h4 {
  font-family: "OpenSans", sans-serif;
  color: #fa7c30;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px; }

h5 {
  font-family: "OpenSans" ,sans-serif;
  color: white;
  font-size: 46px;
  font-weight: 700;
  line-height: 30px; }

h6 {
  font-family: "OpenSans" ,sans-serif;
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px; }

p {
  font-family: "OpenSans" ,sans-serif;
  color: #161418;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px; }

a {
  font-family: "OpenSans" ,sans-serif;
  color: white;
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase; }

.button-contact {
  cursor: pointer;
  padding: 20px 50px;
  background: #fa7c30;
  color: white;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  border: 3px solid transparent !important; }
  .button-contact:hover {
    background: none;
    color: white;
    border: 3px solid white !important; }

.menu li a:focus {
  color: #000; }

.button {
  cursor: pointer;
  padding: 20px 50px;
  background: #fa7c30;
  color: white;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  border: 3px solid transparent !important; }
  .button:hover {
    background: white;
    color: black;
    border: 3px solid black !important; }

.head-btn {
  cursor: pointer;
  padding: 15px 20px;
  border: 2px solid white;
  color: white;
  font-family: "OpenSans", sans-serif;
  font-size: 12px;
  font-weight: 700; }
  .head-btn:hover {
    color: #fa7c30;
    border: #fa7c30 2px solid; }

.button-contact {
  cursor: pointer;
  margin-top: 40px; }

.colortext {
  color: #fa7c30;
  border-color: black; }

input {
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

header {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%; }
  header .row {
    max-width: 100%; }

.logo {
  line-height: 5;
  padding-left: 15px; }

.head-menu {
  padding: 25px; }

.login {
  text-align: right;
  line-height: 5; }
  .login a {
    padding: 10px;
    font-size: 12px; }

.wrapper_login {
  padding-right: 15px; }

label {
  color: white;
  line-height: 30px;
  margin: 0 30px 0 0;
  display: none;
  font-size: 35px; }

#toggle {
  display: none; }

.menu a {
  display: inline-block;
  position: relative;
  text-decoration: none; }

.menu a::before {
  display: block;
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  background-color: #fa7c30;
  -webkit-transition: width .5s ease-in-out, left .5s ease-in-out;
  -o-transition: width .5s ease-in-out, left .5s ease-in-out;
  transition: width .5s ease-in-out, left .5s ease-in-out;
  left: 50%;
  bottom: 0; }

.menu a::after {
  display: block;
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  background-color: #fa7c30;
  -webkit-transition: width .5s ease-in-out;
  -o-transition: width .5s ease-in-out;
  transition: width .5s ease-in-out;
  left: 50%;
  bottom: 0; }

.menu a:hover {
  color: white; }

.menu a:hover::before {
  width: 50%;
  left: 0; }

.menu a:hover::after {
  width: 50%; }

.wrapper_login a:hover {
  color: #fa7c30; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: #161418;
  z-index: 20; }

.sticky + .content {
  padding-top: 102px; }

.hero_section {
  background-image: url(../image/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 950px;
  background-size: cover;
  position: relative;
  width: 100%;
  z-index: 3; }

.hero-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-70%, -70%);
  -ms-transform: translate(-70%, -70%);
  transform: translate(-70%, -70%); }
  .hero-wrapper .button {
    margin: 50px 0; }
  .hero-wrapper p {
    color: white; }

.form_section {
  position: absolute;
  right: 0;
  left: 0;
  top: 800px;
  background: #f1f4f6; }
  .form_section .row {
    max-width: 1200px;
    z-index: 10;
    position: relative; }

.form-wrap {
  background: white; }

.img-wrap {
  padding: 0; }
  .img-wrap img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.wrapper_form {
  text-align: center;
  padding: 0;
  margin: 0; }
  .wrapper_form h6 {
    color: #161418;
    font-size: 26px;
    line-height: 50px;
    text-transform: uppercase; }
  .wrapper_form form {
    max-width: 600px;
    padding: 20px 0;
    width: 100%;
    margin: 0 auto; }
  .wrapper_form .textfield {
    display: inline; }
  .wrapper_form input {
    outline: 0 !important;
    max-width: 160px;
    display: inline;
    margin: 15px;
    border: none;
    border-bottom: 1px solid black; }
    .wrapper_form input:focus {
      outline: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      border: none;
      border-bottom: 1px solid #161418; }
  .wrapper_form .down input[type="text"] {
    background-image: url("../image/down.png") !important;
    background-position: right;
    background-repeat: no-repeat; }
  .wrapper_form .time input[type="text"] {
    background-image: url("../image/time.png") !important;
    background-position: right;
    background-repeat: no-repeat; }
  .wrapper_form .date input[type="text"] {
    background-image: url("../image/date.png") !important;
    background-position: right;
    background-repeat: no-repeat; }
  .wrapper_form button {
    display: block;
    margin: 60px  auto; }

.form_txt {
  padding: 35px 0; }

.section_welcome {
  margin-top: 250px; }
  .section_welcome .row {
    padding-top: 250px; }
  .section_welcome .text-box {
    max-width: 435px;
    padding-top: 100px; }
    .section_welcome .text-box h2 {
      padding-bottom: 25px; }
    .section_welcome .text-box button {
      margin-top: 60px; }

/* section_trainers*/
.section_expert, .section_welcome, .wrapper_trainer {
  background: #f1f4f6; }

.wrapper_text {
  padding: 70px 15px 20px; }

.trainer_img, .trainer_text {
  width: 100%;
  margin: 0 auto; }
  .trainer_img img, .trainer_text img {
    width: 100%;
    height: auto; }

.trainer_text {
  min-height: 300px;
  padding: 25px 40px;
  max-width: 320px;
  width: 100%;
  position: relative; }
  .trainer_text p {
    padding: 10px 0; }
  .trainer_text .button {
    padding: 20px 40px;
    position: absolute;
    bottom: 10px; }

.trainer_txt {
  padding: 40px 0;
  margin: 0;
  text-align: center;
  max-width: 400px;
  width: 100%; }
  .trainer_txt h4 {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 15px; }
  .trainer_txt p {
    padding-top: 10px; }

.wrapper_img {
  position: relative;
  height: 400px;
  overflow: hidden; }
  .wrapper_img img {
    position: absolute;
    -o-object-fit: cover;
    object-fit: cover;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: none !important;
    height: 100%; }

.section_personal_trainer {
  margin: 80px 0 0;
  background: url("/image/bg_traner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 585px;
  width: 100%; }

.wrapper_content {
  text-align: center;
  padding: 200px; }
  .wrapper_content h2 {
    padding: 20px;
    color: white; }
  .wrapper_content .button {
    margin: 20px 0; }

.section_info h5, .section_info h6 {
  text-transform: uppercase;
  padding: 5px; }

.section_info .info_block {
  display: table;
  padding: 100px 0; }
  .section_info .info_block-left {
    width: 50%;
    float: left;
    background-image: url("/image/footer_1.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
  .section_info .info_block-right {
    width: 50%;
    float: left;
    background-image: url("/image/footer_2.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
  .section_info .info_block .block_txt {
    display: table-cell;
    vertical-align: middle; }
  .section_info .info_block .button {
    margin-top: 20px; }

.section_info .block_txt {
  text-align: center;
  margin: 100px 0; }

footer {
  min-height: 561px;
  width: 100%;
  background: #161418; }
  footer h4, footer h3 {
    color: white;
    margin-bottom: 30px; }
  footer .row {
    padding: 40px 0 0 0;
    max-width: 1350px; }

.follow {
  padding: 30px 0 20px; }
  .follow p {
    display: inline-block;
    color: white; }
  .follow .fab {
    color: white;
    padding: 5px; }
    .follow .fab:hover {
      color: #fa7c30; }

.subscribe h3, .subscribe p {
  color: white; }

.subscribe_form {
  width: 100%;
  padding: 0;
  margin: 0; }

.form_content {
  min-height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }
  .form_content input[type="text"] {
    outline: none;
    width: calc(100% - 140px); }
  .form_content .button {
    width: 140px;
    height: 39px;
    border: none; }

.section_blog .blog_wrapper {
  position: relative;
  min-height: 70px;
  margin-bottom: 30px; }

.section_blog .blog_img {
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 30%;
  position: absolute;
  height: 100%; }

.section_blog .blog_text {
  float: right;
  margin-left: 30%; }

.section_blog p {
  color: white;
  padding: 5px 10px 5px 20px;
  margin: 0; }

.section_instagram p {
  color: white; }

.galдery {
  max-width: 350px;
  margin: 0;
  padding: 0; }
  .galдery li {
    display: inline;
    width: 33% !important; }
  .galдery p {
    padding: 10px 0; }

.instagram, .blogs, .subscribe {
  padding: 50px 30px; }

.subscribe_form {
  min-height: 30px;
  width: 100%; }
  .subscribe_form .button {
    padding: 12px 30px;
    margin: 0;
    border: 2px solid transparent !important; }
    .subscribe_form .button:hover {
      border: 2px solid #fa7c30 !important;
      color: #fa7c30; }

.footer_buttom {
  padding: 5px; }
  .footer_buttom p {
    color: #fa7c30;
    text-align: center; }
