/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin: 0;
  padding: 0; }

img {
  max-width: 100% !important; }

h1 {
  font-family: Montserrat, sans-serif;
  color: #60606e;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px; }

h2 {
  font-family: Montserrat, sans-serif;
  color: #60606e;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 48px; }

h3 {
  font-family: Montserrat, sans-serif;
  color: #60606e;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 48px; }

h4 {
  font-family: Montserrat ,  sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 48px; }

h5 {
  font-family: Montserrat,  sans-serif;
  color: #60606e;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px; }

p {
  font-family: OpenSans, sans-serif;
  padding-top: 10px;
  color: #60606e;
  line-height: 30px !important; }

a {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase; }

li {
  text-transform: uppercase; }

.button-green {
  float: right;
  margin: 60px 0;
  background: #7beec7;
  padding: 20px 40px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  text-align: center; }

.head-text {
  text-align: center; }

.green-line {
  position: relative;
  z-index: 3; }
  .green-line:before {
    content: ' ';
    position: absolute;
    width: 70px;
    height: 20px;
    background: #7beec7;
    bottom: 0;
    z-index: -1; }
