@import "inc/vars";
@import "inc/slider";
@import "inc/reset";
@import "inc/default_style";

body {
  background-image: url("../images/hero_bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 850px;

}

////////////////////////////////////
//HEADER//
///////////////////////////////////

.header {
  .head-top {
    max-width: 1150px;
    padding-top: 40px;
  }
}

//MENU

.gamburger {
  float: right;
  .top-line {
    border-bottom: 1px solid gray;
    padding: 3px;
    width: 31px;
  }
  .center-line {
    border-bottom: 1px solid gray;
    padding: 3px;
    width: 15px;


  }
  .bottom-line {
    border-bottom: 1px solid gray;
    padding: 3px;
    width: 23px;
  }
}

.main-menu {
  display: none;
}

//HERO SECTION

.hero {

  .hero-content {
    position: relative;
    min-height: 865px;
    max-width: 560px;
    .hero-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 100%;
      min-height: 30%;
      object-fit: none;
      h3, h1, p {
        text-align: center;
      }
      h1 {
        border: 10px solid $dark-gray_color;
        padding: 15px;
      }
      h3 {
        margin: 0 auto;
        background: $green_color;
        width: 100px;
        height: 35px;
      }
      p {
        font-size: 16px;
        line-height: 25px;
        padding: 15px;
      }
    }
  }

}

//WRAPPER_POST
.wrapper-post{

position: center;
}

///////////////////////////////////////
//*Main*//
///////////////////////////////////////

//OPTION

.block-options {
  padding-top: 150px;
  p {
    text-transform: uppercase;
  }
  .option-content {
    padding-top: 130px;

    .options-items {
      max-width: 250px;
      width: 100%;
      display: inline-block;
      vertical-align: top;
      margin: 10px 20px 10px 20px;
      padding: 10px 0 10px 0;
    }
  }
}

//PORTFOLIO
.block-portfolio {
  height: 1280px;
  padding-top: 150px;

}

.portfolio-content {
  .portfolio-list {
    .portfolio-list_menu {
      ul {
        li {
          padding: 10px;

          span {
            display: inline;
            font-weight: 700;
            text-align: left;
            color: $dark-gray_color;
            font-size: 14px;
            font-family: Montserrat, sans-serif;
            &:hover {
              padding: 4px 20px;
              background: $green_color;
              color: white;
              background-size: 40%;
            }
          }
        }
      }

    }
  }

  .item {
    padding: 10px;
    width: 33%;
  }

}

//*Footer*//

footer {


  .green-block {
    position: relative;
    background: $green_color;
    height: 330px;

    .row {
      position: relative;
      padding: 30px 0 ;
    }

    .block-footer_form {
      background: white;
      padding: 20px 25px;
    }
  }

  .down-wrapper {
    padding: 30px 0;
  }
  .footer-menu {

    li {
      display: inline-block;
      padding: 10px;
      color: $menu_color;
    }
  }

  .copyright {
    float: right;
    text-transform: uppercase;
    p {
      padding: 0;
      color: $menu_color;
    }
  }
  .social-icon {
    float: right;
    display: flex;
    li {
      padding: 10px;
      color: $gray_color;
    }
  }
}

