@import "inc/vars";
@import "inc/slider";
@import "inc/reset";
@import "inc/default_style";

body {
  background-image: url("../images/hero_bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 850px;

}

////////////////////////////////////
//HEADER//
///////////////////////////////////

.header {
  .head-top {
    max-width: 1150px;
    padding-top: 40px;
  }
}


//MENU

.gamburger {
  float: right;
  .top-line {
    border-bottom: 1px solid gray;
    padding: 3px;
    width: 31px;
  }
  .center-line {
    border-bottom: 1px solid gray;
    padding: 3px;
    width: 15px;

  }
  .bottom-line {
    border-bottom: 1px solid gray;
    padding: 3px;
    width: 23px;
  }
}

.main-menu {
  display: none;
}



//HERO SECTION

.hero {
  .hero-content {
    position: relative;
    height: 755px;
    max-width: 560px;
    .hero-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 100%;
      min-height: 30%;
      object-fit: none;
      h3, h1, p {
        text-align: center;
      }
      h1 {
        border: 10px solid $dark-gray_color;
        padding: 15px;
      }
      h3 {
        margin: 0 auto;
        background: $green_color;
        width: 100px;
        height: 35px;
      }
      p {
        font-size: 16px;
        line-height: 25px;
        padding: 15px;
      }
    }
  }

}

//WRAPPER_POST

.wrapper-post {
  .post-left {
  }
  .post-right {

  }
}





///////////////////////////////////////
//*Main*//
///////////////////////////////////////

.main{
  padding-top: 150px;

}


.block-options{
  .option-content{
    padding-top: 130px;

    .options-items{
      max-width: 250px;
    }
  }
}

//*Footer*//

footer {

  .green-block {
    background: $green_color;

  }

}

